.menu-bar {
    background: #cdeedb;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: left;
    align-items: center;
    min-height: 65px;
  }

.menu-item {
  margin-left: 30px;
  font-size: 15px;
  font-weight: 600;
  font-family: Helvetica;
  opacity: 0;
  transition: opacity 0.5s ease-in;
}

.content {
  min-height: calc(100vh - 65px);
  background: linear-gradient(to bottom, #cdeedb, #a6c9e7);
  font-size: 30px;
  font-family: Helvetica;
  text-align: justify;
}

.content-section {
  padding-top: 50px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.5s ease-in, transform 0.5s ease-in;
}

.content-item {
  justify-content: left;
  align-items: center;
  margin-left: 20px;
  margin-right: 20px;
  max-width: 700px;
}

.portrait {
  max-width: 273px;
  max-height: 298px;
  border-radius: 10%;
}

.fade-in {
  opacity: 1;
}

.animate-content {
  opacity: 1;
  transform: translateY(0);
}

a {
  color: black;
}

ul {
  list-style-type: circle; /* Specify the type of bullet points */
}
